<html>
<head>
	<link rel= "stylesheet" type= "text/css" href = "../style/style.css">
    <meta charset="UTF-8">
    <title>feedBack</title>
</head>

<body>

<div class ="intro-header">
<h1> Wellesley College </h1>
</div>


<div class ="comments">
   <h2>Green Hall</h2>
   <h3>Average Score: 1.00 </h3>
   <h3>Recent Comments</h3>
   
   <p> too green <p>
   
 </div>  

<div class ="comments">
   <h2>Pendleton</h2>
   <h3>Average Score: 5.17 </h3>
   <h3>Recent Comments</h3>
   
   <p> hello <p>
   
   <p> 		Pendleton is TERRIBLE! <p>
   
   <p> not bad <p>
   
   <p> While this building is very beautiful, it is nearly impossible to get to as there are 2 flights of stairs that one has to climb from literally every direction <p>
   
   <p> loveee <p>
   
 </div>  

<div class ="comments">
   <h2>Founders</h2>
   <h3>Average Score: 2.00 </h3>
   <h3>Recent Comments</h3>
   
   <p> Wheres the elevator <p>
   
 </div>  

<div class ="comments">
   <h2>Jewett</h2>
   <h3>Average Score: 4.00 </h3>
   <h3>Recent Comments</h3>
   
   <p> jewett is nice but there are stairs to every entrance! Ive heard of a back path, but have yet to find it		 <p>
   
   <p> Where is the back entrance??		 <p>
   
 </div>  

<div class ="comments">
   <h2>Clapp</h2>
   <h3>Average Score: 5.50 </h3>
   <h3>Recent Comments</h3>
   
   <p> this place sucks <p>
   
   <p> lovely <p>
   
 </div>  

<div class ="comments">
   <h2>Alumnae Hall</h2>
   <h3>Average Score: 4.88 </h3>
   <h3>Recent Comments</h3>
   
   <p> great place to dance		 <p>
   
   <p> hello
		 <p>
   
   <p> 		sss <p>
   
   <p> yay		 <p>
   
   <p> yay		 <p>
   
 </div>  

<div class ="comments">
   <h2>Science Center</h2>
   <h3>Average Score: 5.25 </h3>
   <h3>Recent Comments</h3>
   
   <p> 		The science center is overall very accessible, but there are some mini steps here and there that might make it hard for someone in a wheelchair <p>
   
   <p> too many stairs <p>
   
   <p> too many stairs <p>
   
   <p> The ramps are great! <p>
   
 </div>  

<div class ="comments">
   <h2>Lulu Wang Campus Center</h2>
   <h3>Average Score: 7.67 </h3>
   <h3>Recent Comments</h3>
   
   <p> nope <p>
   
   <p> its nice. <p>
   
   <p> hallelujah <p>
   
   <p> 		The Lulu has a lot of great accessibility points, but my favorite part is that they are all so well labeled!! <p>
   
   <p> 		The Lulu has a lot of great accessibility points, but my favorite part is that they are all so well labeled!! <p>
   
 </div>  

<div class ="comments">
   <h2>Keohane Sports Center</h2>
   <h3>Average Score: 6.33 </h3>
   <h3>Recent Comments</h3>
   
   <p> 		Swag <p>
   
   <p> I have to come here very often for physical therapy, and i find it to be quite accesible! <p>
   
   <p> No ramp access. <p>
   
 </div>  

<br>
<p><a href = "/review.html"> write a review </a></p>
<p><a href = "/"> return home </a></p>

</body>
</html>