<!doctype html>
<html lang="en">

<!--
FILE NAME: index.html
WRITTEN BY: Sherry Xu
DATE: 10/01/2016
PURPOSE: WHACK
-->

<head>
	
	<meta charset="utf-8">
    <meta name="author" content="FEEDBACK">
    <link rel= "stylesheet" type= "text/css" href = "../style/style.css">
    <title>Hello</title>

</head>

<body>

	<h1>Hello !</h1>
	<h3>Pick a location below to explore the accessibility of a certain location</h3>
	<p>
	<a href = "/wellesley.html"> WELLESLEY
	</p>
	<p>
	<a href = ""> BOSTON UNIVERSITY
	</p>
	<p>
	<a href = ""> MIT
	</p>
	<p>
	<a href = ""> HARVARD
	</p>
	<p>
	<a href = ""> NORTHWESTERN
	</p>
	
</body>

<html>