/*
FILE NAME: style.css	
WRITTEN BY: Sherry Xu
DATE: Sept 29, 2016
PURPOSE: WHACk
*/

body {
    background-color: white;
    color: #233454;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
}

#heading {
	margin: auto;
	border: 10px solid white;
	padding: 20px;
	background-color: white;
}

.comments{
	padding-top: 30px;
	padding-bottom: 30px;
	padding: 10px;
	margin-top: 5px;
	margin-bottom: 5px;

	background-color: #c9d6e2;
	text-align: center;
    color: #273244;
		}


footer {
	text-align: center;
	padding: 10px;
}

h1 {
	font-size: 55pt;
	text-align: center;
	color: white;
}

h2 {
	font-size: 30pt;
	text-align: center;
}

h3 {
	font-size: 15pt;
	text-align: center;
}

p {
	font-style: italic;
	text-align: center;
}

.intro-header {
    padding-top: 300px;
    /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    padding-bottom: 10px;
    margin-bottom: 30px;
    text-align: center;
    color: white;
    position: relative;
    overflow: hidden;
    background: url("../style/wellesley.jpg") no-repeat center center;
    background-size: cover;
    background-color: #d4e7f9;
}

.review-header {
    padding-top: 20px;
    /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    padding-bottom: 30px;
    margin-bottom: 30px;
    text-align: center;
    color: white;
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-color: #d4e7f9;
}
	
a:link, a:visited {
	color: #4274b8;
	padding: 5px;
}

a:hover {
	color: #81abe5;
	}
	



